.DS_Store
_keep

# Local dev
.sass-cache
/node_modules

# WP items
/e/wp-content/uploads
/e/wp-content/debug.log
/e/wp-config-sample.php

#/e/wp-content/plugins
#/e/wp-content/themes/twentyfifteen
#/e/wp-content/themes/twentysixteen
#/e/wp-content/themes/twentyseventeen
#/e/wp-admin
#/e/wp-includes

# My files
/e/env/production.php
/e/env/general.php
connectToWP.php
comments_fix.php
/files
/images/5-haiku-proto-movie.mp4
backup_db.php
