/*
*
* home = E0A0E0 / darkorchid / orchid / mediumorchid
* words = FF87C3 / hotpink / deeppink / FD7DD5 / fd6fb2 fc3fa2
* work = FD5673 / FD5673 / crimson / FD3E52
* about = FE7371 / FE7572 / tomato
* other = 6DDAD6 / lightseagreen / darkcyan / mediumturquoise
* OTHERS --
* violets = F5B4F5 F7C3F7 EE82EE FFCCFF FF66FF FF99FF violet
* oranges FE524F
*
*/

$red: #FD5673;
$red_bg_hover: #FD3E52;
$red_bg_text_hover: mistyrose;

$icon_red: #FD5673;

$link_red: $red;
$link_hover_red: crimson;

$topnav_bg: #FEF94F;
$topnav_text: #8E7B01;
$topnav_text_sm: #333;

$meta: #777;

$caption: #666;
